*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    }
    body{
    background: rgb(155, 198, 228) ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 16px;
    margin: 0;
    color: rgb(20, 50, 78);
    }
    .container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    }
    label {
        margin: 12px 20px;
        font-weight: 100;
        font-size: 30px;
        color: white;
    }
    .num {
        width: 100%;
        background: transparent;
        border: 0;
        border-bottom: 1px solid;
        padding: 10px 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        color: white;
    
    
    }
    button{
        margin-top: 2.4em;
        background: transparent;
        border: 2px solid white;
        padding: 1em 4em;
        border-radius: 50px;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        position: relative;
        transition: all 300ms ease;
        background:white;
        color:  rgb(54, 55, 56);
    }

    button:hover,select:hover {
    background:  rgb(18, 42, 59);
    color: white;
    }

